@model IEnumerable<dynamic>

<link rel="stylesheet" href="~/css/Employees/AllEmployee.css" />

<div class="page-wrapper">

    <div class="card-container">

        <h2 class="page-title">All Employees</h2>

        <div class="top-actions">
            <a asp-action="EmployeesPDF" asp-controller="Employees" class="pdf-btn">
                Download Employees PDF
            </a>
        </div>

        <div class="table-wrapper">
            <table id="employeeTable" class="display nowrap">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Role</th>
                        <th>Team</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var emp in Model)
                    {
                        <tr>
                            <td>@emp.EmployeeName</td>
                            <td>@emp.Email</td>
                            <td>@emp.PhoneNumber</td>
                            <td>@emp.Role</td>
                            <td>@emp.TeamName</td>

                            <td>
                                <button class="btn edit">Edit</button>
                                <button class="btn delete">Remove</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#employeeTable').DataTable({
                responsive: true,
                autoWidth: false
            });
        });
    </script>
}
