<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - WebsimulationCRM</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css">

    <link href="~/css/site.css" rel="stylesheet" />

</head>

<body>

    <!-- HEADER -->
    <div class="header">
        <span class="menu-btn" id="menuToggle">&#9776;</span>

        <div class="crm-name" >
            <span style="color:white;">WebSimulation CRM</span>
        </div>

        <!-- DATE + TIME -->
        <div class="date-time-box">
            <span id="currentDate"></span>
            <span id="currentTime"></span>
        </div>

        <div class="user-area">
            <img src="https://cdn-icons-png.flaticon.com/512/456/456212.png" width="28" />
            <span>@User.FindFirst("EmployeeName")?.Value</span>
        </div>
    </div>


    <!-- SIDEBAR -->
    <nav class="sidebar" id="sidebarMenu">

        <a asp-controller="Home" asp-action="Index">🏠 Dashboard</a>

        <!-- TEAM MENU -->
        <div class="submenu-btn">👥 Team <span>+</span></div>
        <div class="submenu">
            <a asp-controller="Team" asp-action="AddTeam">➕ Add Team</a>
            <a asp-controller="Team" asp-action="ViewTeams">📄 View Teams</a>
        </div>

        <!-- LEADS MENU -->
        <div class="submenu-btn">📋 Leads <span>+</span></div>
        <div class="submenu">
            <a asp-controller="Leads" asp-action="AddLead">➕ Add Lead</a>
            <a asp-controller="Leads" asp-action="AssignLead">📌 Assign Lead</a>
            <a asp-controller="Leads" asp-action="AllLead">📑 All Leads</a>
            <a asp-controller="Leads" asp-action="NewLeads">🆕 New Leads</a>
            <a asp-controller="Leads" asp-action="HotLeads">🔥 Hot Leads</a>
            <a asp-controller="Leads" asp-action="ColdLeads">❄ Cold Leads</a>
            <a asp-controller="Leads" asp-action="WarmLeads">🌤 Warm Leads</a>
            <a asp-controller="Leads" asp-action="DeadLeads">🚫 Dead Leads</a>
        </div>

        <!-- EMPLOYEES -->
        <div class="submenu-btn">🧑‍ Employees <span>+</span></div>
        <div class="submenu">
            <a asp-controller="Account" asp-action="Register">➕ Add Employee</a>
            <a asp-controller="Employees" asp-action="AllEmployees">📋 All Employees</a>
        </div>

        <!-- REPORT -->
        <a asp-controller="Reports" asp-action="Index">📊 Reports</a>

        <a asp-controller="Account" asp-action="forgotPassword">🔑 Forgot Password</a>

        @if(User.Identity.IsAuthenticated)
        {
            <!-- LOGOUT -->
            <a asp-controller="Account" asp-action="Logout">🚪 Logout</a>
        }
      

    </nav>

    <!-- MAIN CONTENT -->
    <div class="main" id="mainContent">
        @RenderBody()
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
    <!-- JS -->
    <script>
        const sidebar = document.getElementById("sidebarMenu");
        const main = document.getElementById("mainContent");
        const toggle = document.getElementById("menuToggle");

        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("open");
            sidebar.classList.toggle("closed");
            main.classList.toggle("expanded");
        });

        // Submenu Logic
        const submenuButtons = document.querySelectorAll(".submenu-btn");

        submenuButtons.forEach((btn) => {
            btn.addEventListener("click", () => {
                const submenu = btn.nextElementSibling;
                submenu.style.display = submenu.style.display === "flex" ? "none" : "flex";

                // toggle + / -
                btn.querySelector("span").textContent =
                    submenu.style.display === "flex" ? "-" : "+";
            });
        });

            function updateDateTime() {
            const now = new Date();

            // Format Date: 14 Nov 2025
            const date = now.toLocaleDateString("en-IN", {
                day: "2-digit",
                month: "short",
                year: "numeric"
            });

            // Format Time: HH:MM:SS
            const time = now.toLocaleTimeString("en-IN");

            document.getElementById("currentDate").textContent = date;
            document.getElementById("currentTime").textContent = time;
        }

        setInterval(updateDateTime, 1000); // Update every second
        updateDateTime(); // First load

    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>

             toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        @if (TempData["Success"] != null)
        {
                    <text>
                    toastr.success("@TempData["Success"]");
                    </text>
        }

        @if (TempData["Error"] != null)
        {
                    <text>
                    toastr.error("@TempData["Error"]");
                    </text>
        }

        @if (TempData["Warning"] != null)
        {
                    <text>
                    toastr.warning("@TempData["Warning"]");
                    </text>
        }

        @if (TempData["Info"] != null)
        {
                    <text>
                    toastr.info("@TempData["Info"]");
                    </text>
        }

    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
